*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    outline: 0;
}
body,html{
    font-family: j-reg;
}
/* font face */

@font-face {
    font-family: j-bold;
    src: url(../fonts/j-bold.ttf);
}
@font-face {
    font-family: j-light;
    src: url(../fonts/j-light.ttf);
}
@font-face {
    font-family: j-reg;
    src: url(../fonts/j-reg.ttf);
}




/* // start navbar  */
.navbar1{
    background-color: #59c6bc;
     width: 100%;
    nav{
         height: 90px;
        padding: 20px 20px;
        .logo{
           
    
            height: 60px;
        }
      

            ul{
             list-style: none;
             display: flex;
             align-items: center;
             justify-content: center;
             gap: 20px;
                li{
    
                    a{
                     text-decoration: none;
                     color: #fff;
                    }
                }

                .active1{
                    background-color: #fff568;
                    padding: 10px 20px;
                    border-radius: 50px;
                    font-size: 15px;
                  
                    text-align: center;
                     a{
                        color: #505050;
                        text-align: center;
                        text-decoration: none;
                    }

                }
            }
            @media (min-width:320px) and (max-width:767px) {

             ul{
                /* background-color: #59c6bc; */
                /* height: 100vh; */
                
              
             }
            }  

             button{
                /* color: white; */
                /* background-color: #fff; */
                /* border: transparent; */
             }

        }
        @media (min-width:320px) and (max-width:767px) {

            nav{
               background-color: #59c6bc;
               height: 100vh;
               
             
            }
           }  
        
    }
.nav-link{
    color: #fff;
    margin-left: 15px;
    &:hover{
        background-color: #000;
        color: #fff;
        padding: 10px 10px;
        width: 110px;
        text-align: center;
        height: 40px;
       border-radius: 50px;
       font-size: 15px;
    }
}

/* end navbar  */

/* start welcome  */
.welcome{
    height: 630px;
    /* width: 100% !important; */
    /* border: 1px solid black; */
    background-size: cover !important;
    padding-top: 100px;
    
    .info{
        width: 50%;
       
        margin-right: 20px;
        h3{
            color: white;
            font-size:50px ;
            margin-bottom: 37px;
        }
        p{
            color: white;
            font-size: 24px;
            margin-bottom: 44px;
    
        }
        a{
            color: #505050;
            background-color: rgb(255, 245, 104);
            text-decoration: none;
            padding: 15px 35px;
            border-radius: 50px;
            font-size: 20px;
            margin-top: 20px;
            &:hover{
                background-color: #014441;
                color: white;
                box-shadow: 0px 0px 14px 4px rgba(255, 245, 104,0.4);
            }
        }
    }
}


@media (min-width:320px) and (max-width:767px) {
    .welcome{
        height: 722px;
        background-size: contain !important;
        .info{
            width: 80% !important;
          
            margin-top: 140px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            h3{
                color: white;
            
                font-size:30px ;
                margin-bottom: 37px;
            }
            p{
                color: white;
                font-size: 15px;
                margin-bottom: 44px;
                justify-content: ;
                text-align: center;
                padding: auto;
        
            }
            a{
                color: #505050;
                background-color: rgb(255, 245, 104);
                text-decoration: none;
                padding: 15px 35px;
                border-radius: 50px;
                font-size: 20px;
              margin-top: 40px;
               
                &:hover{
                    background-color: #014441;
                    color: white;
                    box-shadow: 0px 0px 14px 4px rgba(255, 245, 104,0.4);
                }
            }
        }
    }
}
@media (min-width:768px) and (max-width:991px) {
    .welcome{
        height: 722px;
        background-size: contain !important;
        .info{
            width: 100% !important;
          
            margin-top: 140px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            h3{
                color: white;
            
                font-size:35px ;
                margin-bottom: 37px;
            }
            p{
                color: white;
                font-size: 25px;
                margin-bottom: 44px;
              margin-top: 40px;
        
            }
            a{
                color: #505050;
                background-color: rgb(255, 245, 104);
                text-decoration: none;
                padding: 15px 35px;
                border-radius: 50px;
                font-size: 20px;
              margin-top: 70px;
               
                &:hover{
                    background-color: #014441;
                    color: white;
                    box-shadow: 0px 0px 14px 4px rgba(255, 245, 104,0.4);
                }
            }
        }
    }
}
@media (min-width:992px) and (max-width:1199px) {
    .welcome{
        height: 722px;
        background-size: contain !important;
        .info{
            width: 100% !important;
         
            margin-top: 140px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            h3{
                color: white;
            
                font-size:35px ;
                margin-bottom: 37px;
            }
            p{
                color: white;
                font-size: 25px;
                margin-bottom: 44px;
              margin-top: 40px;
        
            }
            a{
                color: #505050;
                background-color: rgb(255, 245, 104);
                text-decoration: none;
                padding: 15px 35px;
                border-radius: 50px;
                font-size: 20px;
              margin-top: 70px;
               
                &:hover{
                    background-color: #014441;
                    color: white;
                    box-shadow: 0px 0px 14px 4px rgba(255, 245, 104,0.4);
                }
            }
        }
    }
}
/* end welcome  */

/* start serv sec  */
 .serv{
    .all{
       display: flex;
       align-items: center;
       justify-content: center;
       margin: 90px 50px;
       
       .box1{
        background-color: #2d98a2;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 30px;
        padding: 60px 10px;
        transition: all 0.3s linear;
        img{
            height: 65px;
        }
        h5{
            color: #fff;
        }
        p{
            color: white;
        }

       }
       .box2{
        transition: all 0.3s linear;

        background-color: #4fc5ba;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 30px;
        padding: 60px 10px;
        h5{
            color: #fff;
        }
        p{
            color: white;
        }

       }
       .box3{
        transition: all 0.3s linear;

           background-color: #eb774c;
           display: flex;
           align-items: center;
           justify-content: center;
           flex-direction: column;
           gap: 30px;
           padding: 60px 10px;
           img{
               height: 64px;
           }
        h5{
            color: #fff;
        }
        p{
            color: white;
        }

       }
       .box4{
        transition: all 0.3s linear;

        background-color: #edbf47;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 30px;
        padding: 60px 10px;
        img{
            height: 64px;
        }
        h5{
            color: #fff;
        }
        p{
            color: white;
        }

       }
    }
 }
 @media (min-width:320px) and (max-width:767px) {
    .serv{
        .all{
           display: flex;
           align-items: center;
           justify-content: center;
           flex-direction: column;
           margin: 90px 0px;
           width: 100%;
           .box1{
            width: 100%;
            background-color: #2d98a2;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 30px;
            padding: 60px 10px;
            transition: all 0.3s linear;
            img{
                height: 65px;
            }
            h5{
                color: #fff;
            }
            p{
                color: white;
            }

           }
           .box2{
            transition: all 0.3s linear;
            width: 100%;

            background-color: #4fc5ba;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 30px;
            padding: 60px 10px;
            h5{
                color: #fff;
            }
            p{
                color: white;
            }

           }
           .box3{
            transition: all 0.3s linear;
            width: 100%;

               background-color: #eb774c;
               display: flex;
               align-items: center;
               justify-content: center;
               flex-direction: column;
               gap: 30px;
               padding: 60px 10px;
               img{
                   height: 64px;
               }
            h5{
                color: #fff;
            }
            p{
                color: white;
            }

            }
            .box4{
             transition: all 0.3s linear;
             width: 100%;
 
             background-color: #edbf47;
             display: flex;
             align-items: center;
             justify-content: center;
             flex-direction: column;
             gap: 30px;
             padding: 60px 10px;
             img{
                 height: 64px;
             }
             h5{
                 color: #fff;
             }
             p{
                 color: white;
             }
 
            }

           }
        }
     }
 @media (min-width:768px) and (max-width:991px) {
    .serv{
        .all{
           display: flex;
           align-items: center;
           justify-content: center;
           flex-direction: column;
           margin: 90px 0px;
           width: 100%;
           .box1{
            width: 100%;
            background-color: #2d98a2;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 30px;
            padding: 60px 10px;
            transition: all 0.3s linear;
            img{
                height: 65px;
            }
            h5{
                color: #fff;
            }
            p{
                color: white;
            }

           }
           .box2{
            transition: all 0.3s linear;
            width: 100%;

            background-color: #4fc5ba;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 30px;
            padding: 60px 10px;
            h5{
                color: #fff;
            }
            p{
                color: white;
            }

           }
           .box3{
            transition: all 0.3s linear;
            width: 100%;

               background-color: #eb774c;
               display: flex;
               align-items: center;
               justify-content: center;
               flex-direction: column;
               gap: 30px;
               padding: 60px 10px;
               img{
                   height: 64px;
               }
            h5{
                color: #fff;
            }
            p{
                color: white;
            }

            }
           }
           .box4{
            transition: all 0.3s linear;
            width: 100%;

            background-color: #edbf47;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 30px;
            padding: 60px 10px;
            img{
                height: 64px;
            }
            h5{
                color: #fff;
            }
            p{
                color: white;
            }

           }
        }
     }
 @media (min-width:992px) and (max-width:1199px) {
    .serv{
        .all{
           display: flex;
           align-items: center;
           justify-content: center;
           flex-direction: column;
           margin: 90px 0px;
           width: 100%;
           .box1{
            width: 100%;
            background-color: #2d98a2;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 30px;
            padding: 60px 10px;
            transition: all 0.3s linear;
            img{
                height: 65px;
            }
            h5{
                color: #fff;
            }
            p{
                color: white;
            }

           }
           .box2{
            transition: all 0.3s linear;
            width: 100%;

            background-color: #4fc5ba;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 30px;
            padding: 60px 10px;
            h5{
                color: #fff;
            }
            p{
                color: white;
            }

           }
           .box3{
            transition: all 0.3s linear;
            width: 100%;

               background-color: #eb774c;
               display: flex;
               align-items: center;
               justify-content: center;
               flex-direction: column;
               gap: 30px;
               padding: 60px 10px;
               img{
                   height: 64px;
               }
            h5{
                color: #fff;
            }
            p{
                color: white;
            }

            }
           }
           .box4{
            transition: all 0.3s linear;
            width: 100%;

            background-color: #edbf47;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 30px;
            padding: 60px 10px;
            img{
                height: 64px;
            }
            h5{
                color: #fff;
            }
            p{
                color: white;
            }

           }
        }
     }

/* end serv sec  */

/* start card  */

.card5{
    background-color: #fafafa;
    padding: 70px 30px;
    .tittel{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 80px;
        margin-top: 50px;
        h3{
            color: #505050;
            margin-bottom: 20px;
        }
        span{
            color: #59c6bc;
        }
    }
    .card{
        position: relative;
         padding-bottom: 20px;

        .card-body{
            span{
                color: #505050;
                margin-bottom: 30px;
            }
            h5{
                color: #767676;
                font-size: 20px;
                margin-top: 20px;
                margin-bottom: 30px;
            }
            .card1{
                p{
                    color: #999999;
                    font-size: 15px;
                    margin-bottom: 40px;
                }
            }
            a{
                color: #505050;
                background-color: rgb(255, 245, 104);
                text-decoration: none;
                padding: 15px 50px;
                border-radius: 50px;
                font-size: 13px;
                margin-top: 50px;
                &:hover{
                    background-color: #014441;
                    color: white;
                    box-shadow: 0px 0px 14px 4px rgba(255, 245, 104,0.4);
                }
            }
            h6{
                background-color: #fff568;
                top: 10px;
                left: 10px;
                color: #000;
                position: absolute;
                padding: 10px 15px;
                font-size: 15px;
            }
        }
    }
}
@media (min-width:320px) and (max-width:767px) {
    .card5{
        padding: 30px;
        background-color: #F0F0F0;
        width: 100%;
        .container{
            display: flex;
            align-items: center;
            justify-content: center;
            .row{
                .tittel{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    /* gap: 5px; */
                    h3{
                        padding-bottom: 30px;
                        font-size: 20px;
                    }
                    button{
                        background-color: #E6E6E6;
                        color: #707070;
                       
                        padding: 7px;
                        border-radius: 12px;
                        margin-bottom: 30px;
                        
                        border-color: #979797;
                    }
                }
                .col-lg-4{
             
                    margin-bottom: 10px;
                    
                }

            }
        }
    }
}
@media (min-width:768px) and (max-width:991px) {
    .card5{
        padding: 30px;
        background-color: #F0F0F0;
        width: 100%;
        .container{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
         
            .row{
                
                .tittel{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    /* gap: 20px; */
                    h3{
                padding-bottom: 30px;
                font-size: 20px;
                    }
                    button{
                        background-color: #E6E6E6;
                        color: #707070;
                       
                        padding: 7px;
                        border-radius: 12px;
                        margin-bottom: 30px;
    
                        border-color: #979797;
                    }
                }
                .col-lg-4{
                   width: 46%;
                   margin: auto;
                    margin-bottom: 10px;
                }

            }
        }
    }
}
@media (min-width:992px) and (max-width:1199px) {
    .im{
        position: relative;
        bottom: 0px;
        left: 0px;
        p{
            position: absolute;
            background-color: #707070;
            color: white;
            padding: 0px;
            border-radius: 5px;
            padding-bottom: 0px;
            bottom: 20px;
            font-size: 30px;
            left: 0px;
        }
        span{
            position: absolute;
            color: white;
            background-color: #DBB8A5;
            padding: 2px;
            border-radius: 5px;
            bottom: 0px;
            font-size: 20px;
            left: 0px;
        }
    }
}
/* end card  */

.gols{
    height: 383px;
    background-size: cover !important;
    width: 100% !important;
    .green{
        background-color: rgb(115, 201, 186,0.7);
        height: 383px;
        background-size: cover !important;
        .tittle{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            color: white;
            margin: 70px 0px;
        }
        .box{
            display: flex;
          
            .box1{
                h4{
                    color: white;
                    font-size: 30px;
                }
                span{
                    color: #505050;
                    font-size: 20px;
                }
            }
        }
    }
}
@media (min-width:320px) and (max-width:767px) {
    .gols{
        /* height: 100%; */
        width: 100%;
        background-size: contain !important;
        .green{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: rgb(115, 201, 186,0.7);
            padding-bottom: 20px;
            /* height: 100%; */
            .tittle{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                color: white;
                margin: 70px 0px;
            }
            .col-lg-3{
                width: 25%;
                .box{
                    margin-bottom: 30px;
                    display: flex;
                    flex-direction:column ;
                    align-items: center;
                    justify-content: center;
                    gap: 40px;
                    img{
                        display: none;
                    }
                    /* width: 50%; */
                    .box1{
                        h4{
                            color: white;
                            font-size: 15px;
                            text-align: center;
                        }
                        span{
                            color: #505050;
                            font-size: 12px;
                            /* text-align: center; */
                        }
                    }
                }

            }
        }
    }
}
@media (min-width:768px) and (max-width:991px) {
    .gols{
        /* height: 100%; */
        width: 100%;
        background-size: contain !important;
        .green{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: rgb(115, 201, 186,0.7);
            padding-bottom: 20px;
            /* height: 100%; */
            .tittle{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                color: white;
                margin: 70px 0px;
            }
            .col-lg-3{
                width: 25%;
                .box{
                    margin-bottom: 30px;
                    display: flex;
                    flex-direction:column ;
                    align-items: center;
                    justify-content: center;
                    gap: 20px;
                    /* width: 50%; */
                    .box1{
                        h4{
                            color: white;
                            font-size: 10px;
                            text-align: center;
                        }
                        span{
                            color: #505050;
                            font-size: 12px;
                            text-align: center;
                        }
                    }
                }

            }
        }
    }
}

/* start says sec  */

.says{
    padding: 70px 10px;
    .tittle{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        h4{
            color: #505050;
            font-size: 22px;
        }
        span{
            color: #2d98a2;
            font-size: 17px;
        }
    }
    .all{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 40px;
        .box{
            margin-top: 70px;
            display: flex;
            gap: 20px;
            img{
                height: 72px;
                width: 72px;
            }
            .info{
                background-color: #f9f9f9;
                display: flex;
                border-radius: 20px;
                /* align-items: center; */
                /* justify-content: center; */
                flex-direction: column;
                gap: 20px;
                padding: 20px;
                h4{
                    color: #3e3e3e;
                    font-size: 20px;
                }
                p{
                    color: #505050;
                    font-size: 15px;
                }
                .number{
                    display: flex;
                    gap: 20px;
                    span{
                        img{
                            height: 13px;
                            width: 10px;
                        }
                    }
                }
            }
        }

    }
}
@media (min-width:320px) and (max-width:767px) {
    .says{
        padding: 70px 10px;
        .tittle{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            h4{
                color: #505050;
                font-size: 22px;
            }
            span{
                color: #2d98a2;
                font-size: 17px;
            }
        }
        .all{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 80%;
            margin: auto;
            gap: 40px;
            .box{
                width: 80% !important;
                margin-top: 70px;
                /* display: flex; */
                gap: 20px;
                img{
                    height: 72px;
                    width: 72px;
                }
                .info{
                    width: 100%;
                    background-color: #f9f9f9;
                    display: flex;
                    border-radius: 20px;
                    /* align-items: center; */
                    /* justify-content: center; */
                    flex-direction: column;
                    gap: 20px;
                    padding: 20px;
                    h4{
                        color: #3e3e3e;
                        font-size: 20px;
                    }
                    p{
                        color: #505050;
                        font-size: 15px;
                    }
                    .number{
                        display: flex;
                        gap: 20px;
                        span{
                            img{
                                height: 13px;
                                width: 10px;
                            }
                        }
                    }
                }
            }
    
        }
    }
}

/* end says sec  */

  /* start photo sec  */
  /* start photo sec  */
.photo{
    background-color: #eef6f6;
    padding: 100px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 50px;
        
               /* padding: 10px; */
             .image{

                    height: 334px;

                    background-size: cover !important;
                
             }
             .contact{
                 background-color: #fff;
                 display: flex;
                 align-items: center;
                 justify-content: center;
                 flex-direction: column;
                 gap: 15px;
                 padding: 10px 30px;
                 margin-right: 30px;
                 h4{
                     color: #505050;
                 }
                 span{
                    color: #505050;
                 }
             }
             .time{
                 background-color: white;
                 display: flex;
                 align-items: center;
                 justify-content: center;
                 flex-direction: column;
                 /* margin-right: 20px; */
         
                 gap: 10px;
                 padding: 10px 15px;
                 h5{
                     color: #505050;
                 }
                 p{
                     color: #505050;
         
                 }
                 span{
                     background-color: #fff568;
                     color: #505050;
                     padding: 10px 20px;
                 }
                 h6{
                     color: #505050;
         
                 }
             }
         }
         @media (min-width:320px) and (max-width:767px) {
            .photo{
                background-color: #eef6f6;
                padding: 100px 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                gap: 50px;
                    
                           /* padding: 10px; */
                         .image{
                                /* height: 334px; */
            
                              background-size: contain !important;
                         }
                         .contact{
                             background-color: #fff;
                             display: flex;
                             align-items: center;
                             justify-content: center;
                             flex-direction: column;
                             gap: 15px;
                             padding: 10px 30px;
                             margin: 20px 0px;
                             /* margin-right: 30px; */
                             h4{
                                 color: #505050;
                             }
                             span{
                                color: #505050;
                             }
                         }
                         .time{
                             background-color: white;
                             display: flex;
                             align-items: center;
                             justify-content: center;
                             flex-direction: column;
                             /* margin-right: 20px; */
                     
                             gap: 10px;
                             padding: 10px 15px;
                             h5{
                                 color: #505050;
                             }
                             p{
                                 color: #505050;
                     
                             }
                             span{
                                 background-color: #fff568;
                                 color: #505050;
                                 padding: 10px 20px;
                             }
                             h6{
                                 color: #505050;
                     
                             }
                         }
                     }
        }
         @media (min-width:768px) and (max-width:991px) {
            .photo{
                background-color: #eef6f6;
                padding: 100px 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                gap: 50px;
                    
                           /* padding: 10px; */
                         .image{
                                /* height: 334px; */
            
                              background-size: contain !important;
                         }
                         .contact{
                             background-color: #fff;
                             display: flex;
                             align-items: center;
                             justify-content: center;
                             flex-direction: column;
                             gap: 15px;
                             padding: 10px 30px;
                             margin: 20px 0px;
                             /* margin-right: 30px; */
                             h4{
                                 color: #505050;
                             }
                             span{
                                color: #505050;
                             }
                         }
                         .time{
                             background-color: white;
                             display: flex;
                             align-items: center;
                             justify-content: center;
                             flex-direction: column;
                             /* margin-right: 20px; */
                     
                             gap: 10px;
                             padding: 10px 15px;
                             h5{
                                 color: #505050;
                             }
                             p{
                                 color: #505050;
                     
                             }
                             span{
                                 background-color: #fff568;
                                 color: #505050;
                                 padding: 10px 20px;
                             }
                             h6{
                                 color: #505050;
                     
                             }
                         }
                     }
        }
         @media (min-width:992px) and (max-width:1199px) {
            .photo{
                background-color: #eef6f6;
                padding: 100px 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                gap: 50px;
                    
                           /* padding: 10px; */
                         .image{
                                /* height: 334px; */
            
                              background-size: contain !important;
                         }
                         .contact{
                             background-color: #fff;
                             display: flex;
                             align-items: center;
                             justify-content: center;
                             flex-direction: column;
                             gap: 5px;
                             padding: 10px 30px;
                             /* margin: 20px 0px; */
                             /* margin-right: 30px; */
                             h4{
                                 color: #505050;
                             }
                             span{
                                color: #505050;
                             }
                         }
                         .time{
                             background-color: white;
                             display: flex;
                             align-items: center;
                             justify-content: center;
                             flex-direction: column;
                             /* margin-right: 20px; */
                     
                             gap: 10px;
                             padding: 10px 15px;
                             h5{
                                 color: #505050;
                             }
                             p{
                                 color: #505050;
                     
                             }
                             span{
                                 background-color: #fff568;
                                 color: #505050;
                                 padding: 10px 20px;
                             }
                             h6{
                                 color: #505050;
                     
                             }
                         }
                     }
        }
  /* end photo sec  */


        /* start map sec  */

        .map{
            padding: 10px;
            background-size: cover !important;
            height: 360px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100% !important;
            form{
                background-color: #68bfb7;
                width: 50%;
                margin: auto;
                padding: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: row;
                gap: 20px;
                border-radius: 10px;
                input{
                    width: 80%;
                    padding: 10px;
                    border: 1px solid white;
                    border-radius: 5px;
                }
                
                button{
                    width: 20%;
                    background-color: #797979;
                    border: none;
                    padding: 10px;
                    border-radius: 5px;
                }
            }

        }
        @media (min-width:320px) and (max-width:767px) {
            .map{
                background-size: contain !important;
                height: 360px;
                display: flex;
                align-items: center;
                justify-content: center;
                form{
                    background-color: #68bfb7;
                    width: 100%;
                    margin: auto;
                    padding: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: row;
                    gap: 20px;
                    border-radius: 10px;
                    input{
                        width: 80%;
                        padding: 10px;
                        border: 1px solid white;
                        border-radius: 5px;
                    }
                    
                    button{
                        width: 20%;
                        background-color: #797979;
                        border: none;
                        padding: 10px;
                        border-radius: 5px;
                    }
                }
    
            }
        }
        /* end map sec  */
        .footer{
            padding: 80px 0px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 40px;
            h2{
                color:#656565 ;
                font-size:40px ;
            }
            p{
                color: #656565;
                font-size: 20px;
            }
            .ul{
                list-style: none;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 20px;
                li{
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    border: 1px solid #505050;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    i{
                        /* color: #000; */
                        color: #505050;
                        &:hover{
                            color: #59c6bc;
                        }
                    }
                }
            }

        }

        .load{
            width: 100%;     
            height: 100vh;
            position: fixed;
            top: 0;
            right: 0;
            background-color: #999;
            display: flex;
            align-items: center;
            justify-content: center;

            .lds-hourglass {
                display: inline-block;
                position: relative;
                width: 80px;
                height: 80px;
            }
    
              .lds-hourglass:after {
                content: " ";
                display: block;
                border-radius: 50%;
                width: 0;
                height: 0;
                margin: 8px;
                box-sizing: border-box;
                border: 32px solid #ddd;
                border-color: #4fc5ba transparent #4fc5ba transparent;
                animation: lds-hourglass 1.2s infinite;
            }
            
        }
        
        @keyframes lds-hourglass {
          0% {
            transform: rotate(0);
            animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
          }
          50% {
            transform: rotate(900deg);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
          }
          100% {
            transform: rotate(1800deg);
          }
        }
        
        
        
